<!--Left Column-->
<div ng-controller="ChatNavigationCtrl">

    <!--Chat Rooms Column-->
    <div id="chatRoomList" ng-include="'views/fragments/userChatRooms.html'"></div>

    <div ng-switch on="section">

        <!--Chat Landing Page-->
        <div ng-switch-when="home">
            <div id="chatHomePage" class="col-md-10 col-md-offset-2 chat-zone" ng-include="'views/fragments/chatHomePage.html'"></div>
        </div>

        <div ng-switch-when="allRooms">
            <div id="chatRoomsList" class="col-md-10 col-md-offset-2 chat-zone" ng-include="'views/fragments/chatRoomsList.html'"></div>
        </div>

        <div ng-switch-when="newRoom">
            <div id="newChatRoomPanel" class="col-md-10 col-md-offset-2 chat-zone" ng-include="'views/fragments/newChatRoom.html'"></div>
        </div>

        <!--Inside a chat room-->
        <div class="col-md-10 col-md-offset-2" ng-switch-when="room">
            <div class="row">
                <!--Chat Main Section-->
                <chat-zone state="state" user="user" home="home()" inRoom="inRoom()"></chat-zone>

                <!--Participants Column-->
                <div id="chatParticipants" class="col-md-2 sidebar col-md-offset-10"
                     ng-include="'views/fragments/chatParticipants.html'"></div>
            </div>

        </div>
    </div>
</div>
