<div class="jumbotron">
    <h1>Welcome to KillrChat</h1>
    <p>
        On the left pane are listed all the chat rooms you have joined.
        <br/>
        Above <strong>My rooms</strong> you can:
    </p>
    <ul>
        <li class="instruction">
            search for a room by clicking on &nbsp;<i class="fa fa-list-alt"></i>
        </li>
        <li class="instruction">
            or create a new room by clicking on &nbsp;<i class="fa fa-plus-square"></i>
        </li>
        <li class="instruction">
            or return to this page by clicking on &nbsp;<i class="fa fa-home"></i>
        </li>
    </ul>

    <br/>
    <p>
        On any chat room, you can:
    </p>
    <ul>
        <li class="instruction">
            join it by clicking on &nbsp;<i class="fa fa-sign-in"></i>
        </li>
        <li class="instruction">
            leave it by clicking on &nbsp;<i class="fa fa-sign-out"></i>
        </li>
    </ul>
    <p>
        Inside a chat room, on any participant, you can retrieve his/her details by hovering the mouse on &nbsp;<i class="fa fa-user instruction-icon"></i>
    </p>
</div>